<div [ngSwitch]="status">
  <span *ngSwitchCase = "'ENTERED'" class="text-primary">{{status}}</span>
  <span *ngSwitchCase = "'AUTHORIZE'" class="text-success">{{status}}</span>
  <span *ngSwitchCase = "'REJECTED'" class="text-danger">{{status}}</span>
</div>
