<div>
  <reusable-toolbar
  [section]="'Detalle de licencia'"
  [title]="'Subtitulo '"
  [linkTo]="'MasterComponent'">
  </reusable-toolbar>
</div>

<reusable-table
[data]="licencias"
[columns]="columns"
[filters]="[]"
[defaults]="[]"
[paginator]="true"
(returnActions)="actionDemo($event)"
(returnData)="getDemo($event)"
(returnModal)="actionModal($event)">
</reusable-table>
